@use "./variables";

.headerHome {
        background-image: url(../Boat-Ride-Adventures-final-assets/home-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    h1 {
        color: variables.$dandelion;
    }
    img {

    
}

nav ul {
    display: flex;
    padding: 50px;
}

nav a {
    display: inline-block;
    flex-direction: row;
    padding: 20px;
}
a:hover {
    border-bottom: variables.$dandelion;
}
}