@use "./variables";

.homeMain {
   //position: relative;
}

.headerImgContainer {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 625px;

    img {
        //height: 65vh;
    }
}

h2 {
    color: variables.$twilightBlue;
}

.blogPosts {
    background-color: variables.$iceBlue;
}


.blogGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;

    li {
        //padding: 45px;
        //margin: 50px 25px 25px;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin: 0;
        padding: 0;
    }

    //h2::before {
    //    content: url(../Boat-Ride-Adventures-final-assets/twitter.svg);
    //}

    p {
        margin: 0;
        padding: 0 0 50px 0;
    }
}

.blogOne, .blogTwo,  {
    padding: 200px 0px 20px 0px
}

.blogThree .blogFour {
    padding: 50px;
}

.fa-solid {
    background-color: variables.$dandelion;
    color: variables.$twilightBlue;
}

.programs, .locations {
    display: flex;
    justify-content: center;
    background-color: variables.$twilightBlue;
    p {
    color: variables.$white;
    }
}

.programs img {
    box-shadow: 10px 10px 0 variables.$dandelion;
    position: relative;
    top: -30px;
}

.programsTextContainer, .locationsTextContainer {
    width: 60%;

}

.programsTextContainer, .locationsTextContainer {
    padding: 0px 60px;
}

.locationsTextContainer {
    text-align: right;
}

.programsImgContainer, .locationsImgContainer {
    width: 40%;
}

.programsImgContainer {
    position: relative;
    top: -10;
}

.locationsImg {
    box-shadow: -10px 10px 0 variables.$dandelion;
    position: relative;
    bottom: -20;
}


// .info {
//     background-color: variables.$twilightBlue;
//     position: absolute;

//     p {
//         color: variables.$white;
//     }

//     img {
//         height: 30vh;
//     }
// }

// .programsImg {
//     width: 40%;
//     position: relative;
//     top: -500;
//     left: 0;
//     box-shadow: 10px 10px 0 variables.$dandelion;
// }

// .programs {
//     position: relative;
//     width: 60%;
//     left: 100;
// }

// .locationsImg {
//     width: 40%;
//     left: 0;
//     box-shadow: -10px 10px 0 variables.$dandelion;
// }


// .locations {
//     h3 {
//         margin-top: 0;
//     }
// }

h3 {
    color: variables.$white;
}

h4 {
    color: variables.$twilightBlue;
    margin: 0;
    font-weight: 400;
}

.vacation {
    text-align: center;
    background-color: variables.$iceBlue;

    .textContainer {
        padding: 100px;
        
        p {
            padding: 0 50px 20px 50px;
        }
    }
}

.vacation img {
    width: 100%;
}

.contest {
    display: flex;
    background-color: variables.$iceBlue;
    margin: 0;

    img {
        margin: 40px 40px 40px 60px;
        width: 65%;
        box-shadow: 0px 50px 50px 0px 0 variables.$dandelion;
    }

    .textContainer {
        padding: 40px;
        width: 50%;
    }
}

.galleryHome {
    display: flex;
    background-color: variables.$twilightBlue;
    padding: 50px 0px 50px 50px;
}

.galleryHome li {
    width: calc((100% / 3) - 60px);
    margin: 20px 10px;
}

button {
    border: none;
    padding: 0px 10px;
}

footer {
    background-color: variables.$dandelion;
    text-align: center;

    p {
        margin: 0;
    }
}

// CONTACT US MAIN
.contactMain {
    background: variables.$iceBlue;
    padding: 50px;
}

.contact {
    display: flex;
    flex-direction: row;
}

.contactInfo {
    width: 30%;
    line-height: 30px;
}

.contactForm {
    width: 70%;
    //justify-content: flex-end;
    background-color: variables.$twilightBlue;
    color: variables.$white;
    font-family: variables.$bodyFont;
    //box-shadow: 0px 30px 30px 0px solid variables.$dandelion;
    //text-align: center;

    .name, .email {
        border-bottom: solid 1px variables.$dandelion;
        background-color: variables.$twilightBlue;
        color: variables.$white;
    }

    .message {
        border: solid 1px variables.$dandelion;
        background-color: variables.$twilightBlue;
        color: variables.$white;
    }

    textarea {
        margin: 50px;
    }
}

input[type=text] {

}

.iconsContact {
    color: variables.$twilightBlue;
    display: flex;
}


// BLOG STYLING

.mainBlog {
    background-color: variables.$iceBlue;
}

.aboutBlog {
    display: flex;
}

.mission {

    img {
        width: 60%;
        margin-top: 60px;
        box-shadow: 10px 10px 0 variables.$twilightBlue;
    }
}

.missionTextContainer {
    background-color: variables.$twilightBlue;
    width: 60%;
    padding: 20px;
    margin-left: 10px;

    h3 {
        color: variables.$dandelion;
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
    }

    p {
        color: variables.$white;
    }

    li {
        color: variables.$white;
        list-style-type: disc;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 25px;
        margin: 0px 10px;
    }
}

aside {
    flex-direction: column;
    
    img {
        position: absolute;
        top: 300px;
        right: 0;
        width: 55%;
        box-shadow: -10px 10px 0 variables.$dandelion;
    }
}

.articleTextContainer {
    border: solid 3px variables.$dandelion;
    border-top: none;
    border-right: none;
    margin: 300px 0px 0px 230px;
    padding: 80px;
    //padding: 100px;
    //position: absolute;


    p {
        font-size: 0.7rem;
    }

}

.comments {
    display: flex;
    flex-direction: column;
    margin: 0 50px 50px 600px;

    h5 {
        color: variables.$twilightBlue;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .commentsDate {
        color: variables.$twilightBlue;
        font-weight: 900;
    }
}

.blogForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin-left: 600px;
    padding-bottom: 50px;
    

    .name, .email {
        border: none;
        border-bottom: solid 1px variables.$dandelion;
        background-color: variables.$iceBlue;
        padding: 20px 0px;
    }

    textarea {
        background-color: variables.$iceBlue;
        border: solid 1px variables.$dandelion;
    }

    .blogButton {
        background-color: variables.$twilightBlue;
        color: variables.$dandelion;
    }
}
