@use "./variables";


.headerImgContainer {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 625px;
}

h2 {
    color: variables.$twilightBlue;
}

.blogPosts {
    background-color: variables.$iceBlue;
}

.blogGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 200px 50px 100px;

    li {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        padding: 0px;
        font-weight: 400;
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.blogIcons {
    display: flex;
    padding: 20px;
}

.fa-solid {
    background-color: variables.$dandelion;
    color: variables.$twilightBlue;
    padding: 10px;
    border-radius: 20px;
}

.programs, .locations {
    display: flex;
    background-color: variables.$twilightBlue;

    p {
    color: variables.$white;
    }
}

.programs img {
    box-shadow: 10px 10px 0 variables.$dandelion;
    position: relative;
    top: -30px;
}

.programsTextContainer, .locationsTextContainer {
    width: 60%;
    padding: 10px 100px;

    p, h3 {
        margin: 0;
    }
    
    button {
        margin: 20px 0px;
    }

}

.programsTextContainer {
    padding-top: 20px;
}

.locationsTextContainer {
    text-align: right;
}

.programsImgContainer, .locationsImgContainer {
    width: 40%;
}

.locations img {
    box-shadow: -10px 10px 0 variables.$dandelion;
    position: relative;
    bottom: -20px;
}

h3 {
    color: variables.$white;
}

h4 {
    color: variables.$twilightBlue;
    margin: 0;
    font-weight: 400;
}

.vacation {
    text-align: center;
    background-color: variables.$iceBlue;

    .textContainer {
        padding: 100px;
        
        p {
            padding: 0 50px 20px 50px;
        }
    }
}

.vacation img {
    width: 100%;
}

.contest {
    display: flex;
    background-color: variables.$iceBlue;
    margin: 0;
    padding: 50px 100px;

    img {
        box-shadow: -10px 10px 0 variables.$dandelion;
    }

    .textContainer {
        padding-left: 50px;
        width: 75%;
    }

    .imgContainer {
        width: 25%;
    }
}

.galleryHome {
    display: flex;
    background-color: variables.$twilightBlue;
    padding: 50px 0px 50px 50px;
}

.galleryHome li {
    width: calc((100% / 3) - 60px);
    margin: 20px 10px;
}

button {
    border: none;
    padding: 0px 10px;
}

footer {
    background-color: variables.$dandelion;
    text-align: center;

    p {
        margin: 0;
    }
}

// CONTACT US MAIN

.contactMain {
    background: variables.$iceBlue;
    padding: 0px;
}

.contact {
    display: flex;
    flex-direction: row;
}

.contactInfo {
    width: 30%;
    margin: 0px 0px 175px 50px;

    .infoEmail {
        margin: 0 0 30px 0;
    }
    
    p {
        line-height: 20px;
        margin-top: 20px;
    }
}

.contactForm {
    width: 60%;
    background-color: variables.$twilightBlue;
    color: variables.$white;
    font-family: variables.$bodyFont;
    box-shadow: 15px 15px 0 variables.$dandelion;
    position: absolute;
    top: 300px;
    right: 15px;
 
    input {
        background-color: variables.$twilightBlue;
        color: variables.$white;
        margin: 50px 20px 20px 80px;
        border-style: none;
        border-bottom: solid 1px variables.$dandelion;
        padding: 0px 10px 10px 50px;
    }

    textarea {
        border: solid 1px variables.$dandelion;
        background-color: variables.$twilightBlue;
        color: variables.$white;
        margin: 50px 20px 20px 80px;
        resize: none;
        padding: 20px 0px 0px 20px;
    }

    button {
        margin: 20px 20px 20px 80px;
        padding: 0px 240px;    
    }
}

.iconsContact {
    color: variables.$twilightBlue;
    display: flex;
    padding: 100px 20px 0px 50px;

    .fa-instagram {
        padding: 0 15px;
    }

    .fa-twitter {
        padding: 0 15px 0 0;
    }
}


// BLOG STYLING

.mainBlog {
    background-color: variables.$iceBlue;
}

.aboutBlog {
    display: flex;
}

.mission img {
    width: 30%;
    margin-top: 60px;
    box-shadow: 10px 10px 0 variables.$twilightBlue;
}

.missionTextContainer {
    background-color: variables.$twilightBlue;
    width: 30%;
    padding: 20px;
    margin-left: 10px;

    h3 {
        color: variables.$dandelion;
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
    }

    p {
        color: variables.$white;
    }

    li {
        color: variables.$white;
        list-style-type: disc;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 25px;
        margin: 0px 10px;
    }
}

aside {
    flex-direction: column;
    width: 60%;
    position: absolute;
    top: 300px;
    right: 0;
}

.articleImgContainer img {     
    width: 100%;
    box-shadow: -10px 10px 0 variables.$dandelion;
}


.articleTextContainer {
    padding: 100px;
    border: solid 3px variables.$dandelion;
    border-top: none;
    border-right: none;
    margin-left: -10px;

    p {
        font-size: 0.7rem;
    }
}

.comments {
    display: flex;
    flex-direction: column;
    margin: 300px 50px 50px 600px;

    .man, .woman {
        display: flex;
    }
    
    .man {
        margin-bottom: 50px;
    }

    .manImgContainer, .womanImgContainer {
        flex-direction: row;
        width: 30%;
    }

    .manTextContainer, .womanTextContainer {
        flex-direction: column;
        width: 70%;
    }

    h5 {
        color: variables.$twilightBlue;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .commentsDate {
        color: variables.$twilightBlue;
        font-weight: 900;
        margin: 0px;
    }
}

.blogForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin-left: 600px;
    padding-bottom: 50px;
    

    .name, .email {
        background-color: variables.$iceBlue;
        border: none;
        width: 50%;
        padding: 20px;
    }

    textarea {
        background-color: variables.$iceBlue;
        border: solid 2px variables.$dandelion;
        resize: none;
        padding: 20px 0px 0px 20px;
    }

    .blogButton {
        background-color: variables.$twilightBlue;
        color: variables.$dandelion;
        margin-top: 20px;
    }
}

.nameEmail {
    display: flex;
    border-bottom: solid 2px variables.$dandelion;
    margin-bottom: 20px;
}