//Colours

$iceBlue: #EAFEFC;
$dandelion: #FDD908;
$twilightBlue: #0D457F;
$white: #FFFFFF;

//Font Families

$headingFont: "IM Fell English";
$bodyFont: "Roboto";

//Font Size

$baseFontSize: 1rem;

